
#div1 p {
	/*color of Golden and Beagle*/
	color: green;
}

div #x1 {
	/*Labrador color*/
	color: red;
}

.x2 {
	/*Siberian color*/
	color: teal;
}


p #x2 {
	/*French color*/
	color: purple;
}


div > span {
	/*Shiba color*/
	color: blue;
}