body {
    background-color: #475C7A;
   }
   h1 {
    color: #FCBB6D;
    background-color: #685D79;
   }
   ul {
    list-style-type: disc;
    color: #F1FAEE;
    font-weight: lighter;
   }
   ol {
    color: #F1FAEE;
    background-color: #D8737F;
    font-weight: bold;
   }
   ol > li:nth-child(odd){
    background-color: #AB6C82;
   }
   ol > li:nth-child(even){
    background-color: #685D79;
   }

   ul {
    list-style-type: none;
    color: #F1FAEE;
   }
   ul li::before {
    content: "\2022"; 
    color: #FCBB6D; 
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -2em; 
   }